.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
content/private/
.replit
replit.nix
.claude/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
